<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Declare launch arguments -->
    <arg name="use_sim_time" default="false" description="Use simulation (Gazebo) clock if true"/>
    <arg name="port_name" default="can1" description="CAN bus name, e.g. can1"/>
    <arg name="odom_frame" default="odom" description="Odometry frame id"/>
    <arg name="base_frame" default="base_footprint" description="Base link frame id"/>
    <arg name="odom_topic_name" default="odom" description="Odometry topic name"/>
    <arg name="control_rate" default="50" description="Simulation control loop update rate"/>
    <arg name="robot_description_file" default="tracer_mini.urdf" description="URDF file for the robot"/>

    <!-- tracer_base node -->
    <node
        pkg="tracer_base"
        exec="tracer_base_node"
        output="screen"
    >
        <param name="is_tracer_mini" value="true"/>
        <param name="simulated_robot" value="false"/>
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <param name="port_name" value="$(var port_name)"/>
        <param name="odom_frame" value="$(var odom_frame)"/>
        <param name="base_frame" value="$(var base_frame)"/>
        <param name="odom_topic_name" value="$(var odom_topic_name)"/>
        <param name="control_rate" value="$(var control_rate)"/>
    </node>

    <!-- robot_state_publisher node -->
    <node
        pkg="robot_state_publisher"
        exec="robot_state_publisher"
        name="robot_state_publisher"
        output="screen"
    >
        <param name="use_sim_time" value="$(var use_sim_time)"/>
        <param 
            name="robot_description"
            value="$(command 'xacro $(find-pkg-share follow_me)/urdf/$(var robot_description_file)')"
        />
    </node>

    <!-- joint_state_publisher node -->
    <!-- <node
        pkg="joint_state_publisher"
        exec="joint_state_publisher">
        arg="$(find-pkg-share follow_me_launch)/urdf/$(var robot_description_file)"
    </node> -->
</launch>