<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <let name="height" value="240" />
  <let name="width" value="424" />

  <!-- Velodyne sensor -->
  <node
    pkg="tf2_ros"
    exec="static_transform_publisher"
    args="0 0 0 0 0 0 laser_Link velodyne"
    output="screen"
  />
  <include file="$(find-pkg-share velodyne)/launch/velodyne-all-nodes-VLP16-launch.py"/>
  <node
    pkg="point_cloud_transport"
    exec="republish"
    name="draco_encode"
    output="screen"
  >
    <!-- Parameters -->
    <param name="in_transport" value="raw"/>
    <param name="out_transport" value="draco"/>
    
    <!-- Remappings -->
    <remap from="in" to="/velodyne_points"/>
    <remap from="out" to="/draco"/>
  </node>

  <!-- RGB camera -->
  <include file="$(find-pkg-share realsense2_camera)/launch/rs_launch.py">
    <arg name="depth_module.depth_profile" value="848x480x15" />
    <arg name="rgb_camera.color_profile" value="$(var width)x$(var height)x15" />
  </include>

  <!-- <node
    pkg="follow_me_yolo"
    exec="YoloNode"
    name="yolo_node"
    output="screen"
  >
    <param name="frame_id" value="base_footprint" />
    <param name="voxel_size" value="0.1" />
    <param name="cluster_tolerance" value="0.5" />
    <param name="min_cluster_size" value="50" />
    <param name="max_cluster_size" value="12500" />
    <param name="min_distance" value="0.5" />
    <param name="rgb_topic" value="/camera/camera/color/image_raw" />
    <param name="depth_topic" value="0.5" />
  </node> -->
  
</launch>